mixin sGetAdv(data)
	// start sGetAdv
	+b.SECTION.sGetAdv.section#sGetAdv&attributes(attributes)
		.container
			+b.section-title
				.row
					.col
						h2 
							span Получите рыночное преимущество 
							| или снова отложите на потом?
					.col-auto
						+e.text-block.h3 Финальный шаг
			.col-xl-6.h6.fw-400.mb-0 Дочитали до конца? Значит, Вы уже на шаг впереди 90% трейдеров.
				br
				| Они даже не доходят до решения. Они просто… снова живут как раньше. Мечтают создать доход на автомате, но проходят мимо, когда появляется реальный шанс.
			.section
				.h22.ttu Сейчас у Вас два пути
			+e.row.row
				mixin item(i,t, p)
					+e.col.col-xl-6
						.sProtect__item
							.row
								.col-sm
									+e.title.h5!= t
									.h6.fw-400!= p
								.col-auto
									+img(`img/${i}.svg`)
				+item(`pig`,`Путь №1. Закрыть страницу`, `И завтра все будет как обычно: дела, работа, рутина… А где-то на фоне снова будет мысль: «Надо бы найти источник дохода на автомате…» А потом снова «не сейчас»…`)
				+item(`cassa`,`Путь №2. Забрать «Арбитр» себе`, `И наконец включить режим, в котором рынок работает на Вас: без угадываний, без паники и без жизни у монитора.`)
			.section
				mixin item(t,p)
					.sArbitr__item
						.sArbitr__title.col-xl-6.col-xl-4!= t
						.sArbitr__text.col-xl.col-12!= p 
				+item(`«А вдруг я не разберусь?»`,`Вы разберетесь. Потому что «Арбитр» – это не «получил софт и выживай, как хочешь». У Вас есть пошаговое обучение до реального запуска и долгосрочная поддержка от автора на весь период использования конструктора. Вы не один.`)
				+item(`«А вдруг рынок изменится, и робот  <br> перестанет зарабатывать?»`,`Рынок всегда меняется. Поэтому выигрывает не тот, у кого идеальный робот. Выигрывает тот, у кого есть конструктор + тестирование + управление + портфель. <br> Стратегия устала? Вы узнаете об этом вовремя. Сняли. Пересобрали. Поставили новую. Система продолжает зарабатывать.`)
				+item(`«А вдруг робот начнет приносить убытки?»`,`Это не страшно. Страшно понять это слишком поздно. В «Арбитре» ключ в управлении роботами: автоматический контроль, уведомления, быстрый способ создать новую стратегию. Вы не молитесь на робота. Вы управляете армией.`)
				+item(`«У меня нет времени»`,`Именно поэтому Вам и нужен «Арбитр». Это инструмент для занятых людей: роботы работают, система следит, Telegram зовет только по делу. <br> Вы живете. А доход приходит в фоновом режиме.`)
			.section.pb-0
				.section-title
					.row
						.col-xl.h2.text-primary Самое <br> важное!
						.col-xl.h3 Вы не покупаете «еще одного робота». 
							br
							| Вы приобретаете спокойствие.
							br
							| Приобретаете контроль.
							br
							| Приобретаете право больше не гадать 
							br
							| и не зависеть от чужих «черных ящиков».
				.h22.ttu.mb-5 «Арбитр» – это фабрика уникальных роботов, которые могут зарабатывать на Вашем счете годами. Потому что дисбалансы и неэффективности не исчезнут. Они будут всегда. 
				.h3.mb-5 И это значит: у Вас всегда будет поле для прибыли
				.h3.mb-5 Сейчас решается простая вещь.
					br
					| Вы снова отложите или сделаете шаг к автоматическому доходу?
					br
					| Если Вы дочитали до этого места, значит Вам это нужно.
					br
					| Осталось одно действие.
					br
					| Жмите кнопку и забирайте «Арбитр» прямо сейчас.
				a.btn.btn-primary.w-100(href="#sForm") ПОЛУЧИТЬ «АРБИТР» И ЗАПУСТИТЬ АВТОДОХОД

	// end sGetAdv