mixin sProtect(data)
	// start sProtect
	+b.SECTION.sProtect.section#sProtect&attributes(attributes)
		.container
			+b.section-title
				.row
					.col
						h2  Железобетонная защита от слива депозита и глубоких просадок
					.col-auto
						+e.text-block.h3 Робот какое-то время зарабатывает для Вас деньги, а потом ломается и сливает депозит в ноль. <br>Знакомо?
						br
						br
						| С «Арбитром» такой сценарий исключен!
			
			.h3.mb-4 «Арбитр» защищает Ваш депозит на трех уровнях:
			+e.row.row.gy-3.mb-5
				mixin item(t,p)
					.col-lg-4
						+e.item
							+e.title.h5.ttu.fw-400= t
							.h6.fw-400!= p
				+item(`Риск на сделку`,`Гарантирует, что убыток в сделке не превысит запланированный Вами.`)
				+item(`Риск на стратегию`,`Гарантирует, что робот не уйдет в просадку больше запланированной Вами`)
				+item(`Риск на депозит`,`Гарантирует, что весь портфель роботов не превысит просадку на торговом счете больше запланированной Вами`)
			.h3.mb-5 Защита работает, как бетонная стена – останавливает процесс, если вдруг что-то пойдет не так. <br> В этом разрезе более важен другой параметр – надежность
			.section.pt-0
				.h22.ttu Надежность в автоматическом трейдинге появляется, когда у Вас есть:
		.sView__line-slider
			.container
				.sView__line
					.sView__line-item 
						strong Фабрика роботов – 
						| возможность быстро создавать новых роботов
						.sView__line-circle
					.sView__line-item 
						strong Профессиональный тестер – 
						| возможность до запуска в торги проверить работоспособность робота на реальном рынке
						.sView__line-circle
					.sView__line-item 
						strong  Портфель роботов – 
						| несколько стратегий, торгующих одновременно и уравновешивающих друг друга;
						.sView__line-circle
					.sView__line-item 
						strong Портфель роботов – 
						| несколько стратегий, торгующих одновременно и уравновешивающих друг друга;

						.sView__line-circle
					.sView__line-item 	
						strong  простой способ быстро заменить робота,
						| который перестал работать – смотри первый пункт.
						.sView__line-circle

		.h3.pt-3.container Вот о надежности мы и поговорим ниже
	// end sProtect