mixin sForWho(data)
	// start sForWho
	+b.SECTION.sForWho.section#sForWho&attributes(attributes)
		.container
			+b.section-title
				.row
					.col
						h2  Кому подходит «Арбитр»?
					.col-auto
						+e.text-block.h3 Если Вы&nbsp;хотите систему, а&nbsp;не&nbsp;&laquo;волшебную кнопку&raquo;, Вы&nbsp;по&nbsp;адресу.
			.col-xl-6.h6.fw-400.mb-5 «Арбитр» создан не для тех, кто ищет очередной «покупной робот».
				br
				| Он для тех, кто хочет понятный, управляемый автоматический доход.

			.h22.ttu.mb-4 «Арбитр» точно для Вас, если:
			
			mixin item(t)
				+e.item
					.h5.ttu.mb-3!= t
					block
			.row.mb-5
				.col-12
					+item(`Вы разочаровались в торговых роботах`)
						.h6.fw-400 Вы уже проходили этот сценарий: красивые обещания → черный ящик → рынок меняется → робот умирает.
							br
							| Вы больше не хотите верить. Вы хотите понимать.
							br
							| В «Арбитре» Вы управляете логикой и портфелем, а не надеетесь на чужую настройку.

				.col-xl-6
					+item(`Вы новичок и просто хотите источник  автоматического дохода`)
						.h6.fw-400 Вам не нужно изобретать грааль. Вы получаете готовый принцип: находить и отрабатывать рыночные неэффективности в автоматическом режиме.
						ul
							li Все по шагам,
							li без программирования и сложностей,
							li с понятным обучением до запуска в реальную торговлю
							li и долгосрочной поддержкой.

				.col-xl-6
					+item(`Вы опытный трейдер (и любите исследования)`)
						.h6.fw-400 «Арбитр» быстро затягивает, потому что открывает новую вселенную: арбитражные индексы. Вы можете:

						ul
							li создавать свои индексы и гипотезы;
							li тестировать связки;
							li собирать портфели стратегий под разные рынки;
							li находить лучшие варианты и масштабировать;
							li управлять капиталом инвесторов или создавать стратегии для автоследования.
						.h6.fw-400 Откройте мир арбитража – бесконечное поле для исследований и экспериментов с «Арбитром».

				.col-xl-6
					+item(`Вы занятый человек или предпочитаете инвестировать и получать пассивный доход вместо ручного трейдинга.`)
						.h6.fw-400 Вам нужен результат без «жизни у монитора».
						ul
							li Портфель роботов автоматически работает на счете.
							li «Арбитр» автоматически следит за каждым роботом 24/7.
							li Telegram-уведомления включают Вас только по делу.
						.h6.fw-400 Вы живете. Роботы зарабатывают
				.col-xl-6
					+item(`Вы боитесь слить депозит (и это нормально)`)
						.h6.fw-400 Вы не обязаны быть смельчаком. «Арбитр» сделан так, чтобы автоматизация была управляемой:
						ul
							li железная защита депозита на трех уровнях;
							li профессиональное тестирование перед запуском в торги;
							li контроль деградации стратегий;
							li портфель вместо ставки «все на одного робота».
						.h6.fw-400 Если Вы уже обжигались, Вы поймете ценность сразу – это система вместо надежды

			a.btn.btn-primary.w-100(href="#sForm") Да, это про меня, хочу Арбитр! 
	// end sForWho