// start .sForWho
.sForWho {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	counter-reset: num;
	&__item {
		height: 100%;
		border-bottom: 1px solid var(--gr2);
		padding: 40px;
		position: relative;
		z-index: 2;
		&::before {
			content: counter(num);
			counter-increment: num;
			z-index: -1;
			font-family: "PT Serif";
			font-style: italic;
			font-weight: 400;
			font-size: 307px;
			line-height: 140%;
			text-align: center;
			color: var(--gr);
			position: absolute;
			right: 0;
			bottom: 0;
			line-height: 0.75;
			opacity: 0.1;
		}
	}

	ul {
		margin-left: 20px;
		font-size: 20px;
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sForWho
