mixin sView(data)
	// start sView
	mixin item(i,t,p)
		.col-lg-6
			+e.item
				.row
					.col
						+e.title.h3= t
					.col-auto
						+img(`img/sView-${i}.svg`)
				.h6.fw-400!= p
	+b.SECTION.sView.section#sView&attributes(attributes)
		.container
			+b.section-title
				.row
					.col
						h2 
							span Арбитражный взгляд: 
							| получайте прибыль независимо от состояния рынка
					.col-auto
						+e.text-block.h3 Бычий рынок? Медвежий? Боковик? С&nbsp;&laquo;Арбитром&raquo; это&nbsp;не&nbsp;имеет значения
			.h6.fw-400.mb-3 Пока другие трейдеры гадают, куда пойдет рынок, Вы зарабатываете в моменте, отрабатывая появившийся дисбаланс.

			.h6.fw-400.mb-3 
				strong Рыночные неэффективности будут всегда. 
				| Высокая волатильность на фьючерсах, индексах, форексе и крипте постоянно создает перекосы – моменты, когда связанные активы «разъезжаются». 

			.h6.fw-400.mb-3 Это моменты раздачи денег, они никогда не исчезнут. А значит, Вы никогда не останетесь без прибыли.
			br
			br
			+e.row.row
				+item(`1`,`«Арбитр» может автоматически создавать торговых роботов для парного трейдинга.`,`В момент расхождения открываются две позиции: один инструмент купил, другой продал. Это рыночно-нейтральная логика, классический арбитраж. <br> Но у классики есть ограничение, которое частный трейдер чувствует сразу: прибыль часто небольшая и съедается издержками, а денег нужно задействовать сразу в две позиции.`)
				+item(`2`,`Ощутимая прибыль для частного трейдера появляется, когда Вы задействуете стратегию одноногого арбитража в «Арбитре».`,`Логика меняется радикально: робот анализирует арбитражный индекс, но вместо двух сделок открывает одну направленную позицию по одному активу.`)
		.section
			.container
				.section-title
					.h22.ttu Что такое одноногий арбитраж?
			+e.line-slider
				.container
					+e.line
						+e.line-item 1. Берём два инструмента, которые обычно ходят похоже (золото/серебро, Nasdaq/S&P, ETH/BTC и другие).
							+e.line-circle
						+e.line-item 2.	Строим арбитражный индекс – разницу между двумя активами
							+e.line-circle
						+e.line-item 3.	Далее торгуем по графику этого индекса: границы/канал/пробои – это и есть сигналы дисбаланса
							+e.line-circle
						+e.line-item 4.	Открываем одну сделку, по одной «ноге» (например, только золото)
							+e.line-circle
						+e.line-item 5.	В результате, если классические арбитражники забирают только микроприбыль на расхождении активов, мы делаем прибыль на направленном движении, в разы больше
							+e.line-circle
		.container
			.section.section2.pt-0
				+e.row.row
					+item(`3`,`Таким образом, Вы сохраняете преимущество классического арбитража`, `На обычном графике может быть боковик и тишина, а на индексе – движение и сигналы, потому что двигается разница между инструментами.`)
					+item(`4`,`И получаете дополнительное преимущество «одной ноги» в высоком потенциале движения. `, `Сделка направленная и может дать ощутимую прибыль, когда Вы садитесь в тренд и забираете большую его часть.`)
			.section.section3.pt-0
				.row
					.col-xxl-4
						.h3 Смотрите, как работает одноногий арбитраж на&nbsp;фьючерсе на&nbsp;доллар/рубль:
					.col
						.video-block
							iframe(width="560" height="315" src="https://kinescope.io/w7QzfoPcRcNPfzj3c3do5w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)
			.section.pt-0
				.h22.ttu.mb-4 
					.text-primary И, наконец, главная магия «Арбитра». 
					| Ноу-хау, которого Вы больше нигде не встретите!
				.h3.mb-5 Связка парного трейдинга и одноногого арбитража в одном торговом роботе

				.h4.fw-700 Уникальная возможность, которую можно реализовать с помощью конструктора
				ul
					li Когда появляется дисбаланс, «Арбитр» открывает сделки на обоих активах, как в классическом парном трейдинге.
					li Но каждую сделку робот сопровождает в отдельности по правилам одноногого арбитража.
				.h4.fw-400 В результате одна сделка закрывается по стоп-лоссу, вторая перекрывает своей прибылью полученный убыток и забирает дальнейшее движение.

				.h4.fw-400 Риск одноногого арбитража перекрывается парными сделками, а Вы получаете «безрисковую» прибыль от направленного движения.


			.section.section3.pt-0
				.row
					.col-xxl-4
						.h3 Смотрите, как это работает:
					.col
						.video-block
							iframe(width="560" height="315" src="https://kinescope.io/w7QzfoPcRcNPfzj3c3do5w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)
			.sArbitr__block
				.row.gy-3
					.col
						.h3.mb-0 Доминируйте на рынке, объединяя все преимущества арбитражных стратегий!
					.col-lg-auto
						a.btn.btn-white(href="#sForm") Жмите, чтобы получить «Арбитр» прямо сейчас 

				
	// end sView