// start .sView
.sView {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	&__row {
		--bs-gutter-x: #{rem(40)};
		--bs-gutter-y: #{rem(40)};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
		box-shadow: 0 60px 113px 0 rgba(240, 243, 255, 0.89);
		height: 100%;
		padding: rem(40);
		border-radius: 16px;
		position: relative;
		z-index: 2;
		background: linear-gradient(to right, #a0b3ff, #fff, #4066ff);
		&::before {
			content: "";
			inset: 1px;
			position: absolute;
			border-radius: inherit;
			background: linear-gradient(134deg, #fff 0%, #f6f8ff 100%);
			z-index: -1;
		}
	}

	.section2 {
		.h6 {
			max-width: rem(386);
		}
	}
	.h22 {
		position: relative;
		z-index: 3;
	}

	&__line-item {
		min-width: rem(240);
		width: rem(240);
		font-size: rem(20);
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
			display: block;
			font-size: 60px;
			font-family: "Akrobat", sans-serif;
			letter-spacing: -0.05em;
			font-weight: 800;
			margin-bottom: 104px;
		}
		&:nth-child(1) {
			--scale: 1;
		}
		&:nth-child(2) {
			--scale: 1.4;
		}
		&:nth-child(3) {
			--scale: 1.6;
		}
		&:nth-child(4) {
			--scale: 1.8;
		}

		&:nth-child(5) {
			--scale: 2;
		}
	}
	&__line-slider {
		overflow-x: auto;
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch;
	}
	&__line {
		display: flex;
		gap: rem(40);
		position: relative;
		width: 100%;
		// scrollbar-width: none;

		// &::-webkit-scrollbar {
		// 	display: none;
		// }

		&::before {
			content: "";
			background-image: url(../img/curve.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: left center;
			height: 20px;
			position: absolute;
			left: 16px;
			top: 112px;
			width: 1120px;
			pointer-events: none;
		}
	}
	&__line-circle {
		width: 1px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		aspect-ratio: 1;
		position: absolute;
		top: 120px;
		flex-shrink: 0;
		left: 12px;
		transform: translate(-50%, -50%);
		&::after {
			content: "";
			@include a-cent;
			width: calc(6px * var(--scale));
			left: calc(10px * var(--scale) / 2);
			aspect-ratio: 1;
			border-radius: 50%;
			background: $primary;
		}
		&::before {
			content: "";
			@include a-cent;
			width: calc(16px * var(--scale));
			aspect-ratio: 1;
			border-radius: 50%;
			border: 1px solid $primary;
			z-index: -1;
			background-color: #fff;
		}
	}

	.section3 {
		.h3 {
			max-width: rem(330);
		}
	}

	ul {
		margin-left: 20px;
		font-size: 20px;
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sView

.video-block {
	position: relative;
	aspect-ratio: 943 / 546;
	iframe {
		@include a-cent;
		width: 100%;
		height: 100%;
		border-radius: 16px;
	}
}

.sView__line-slider {
	counter-reset: num;
}
