mixin sSet(data)
	// start sSet
	+b.SECTION.sSet.section#sSet&attributes(attributes).section-light
		.container
			+b.section-title Владимир Чамин и Инфоклуб
			+b.section-title
				.row
					.col
						h2.mb-4 Комплект, который доведет до результата
						.h6.fw-400 Покупая конструктор, Вы должны получить главное: понятный путь к результату. Поэтому в комплекте с «Арбитром» идет не только обучение, где все разложено по этапам, но и долгосрочная поддержка. Так, чтобы разобраться смог даже новичок.
					.col-auto
						+e.text-block
							.h3 Не&nbsp;переживайте: &laquo;Арбитр&raquo;&nbsp;&mdash; <br> это не&nbsp;&laquo;купил и&nbsp;разбирайся сам&raquo;. 
							.h3 Вас доведут <br> до&nbsp;запуска.
			.h3.mb-5 Что входит в комплект?

			.h22.mb-5.ttu Пошаговый курс обучения (с нуля до запуска).
			
			mixin item(t,p)
				.sArbitr__item
					.sArbitr__title.col-xl-4!= t
					.sArbitr__text.col-xl.col-12
						block
			.mb-5
				+item(`Подготовка`)
					ul
						li Установка MetaTrader 5.
						li Открытие торгового счета.
						li Установка робота и индикатора.
						li Разбор функционала арбитражного робота: что за что отвечает.

				+item(`Создание арбитражной стратегии`)
					ul
						li Построение арбитражного индекса.
						li Создание стратегии в конструкторе.
						li Настройка стратегии под нужную доходность и риск.
						li Управление стратегией: как понимать, что она «живая».

				+item(`Запуск в торговлю`)
					ul
						li Создание виртуального сервера (VPS).
						li Установка MT5, индикатора и робота на сервер.
						li Загрузка стратегии.
						li Запуск в реальную торговлю
			
			.h22.mb-5.ttu Мастер-группа: не «софт», а среда, где делают стратегии
			.mb-5
				.sArbitr__item.sArbitr__item--last
					.sArbitr__title.col-xl
						span.text-primary Это продвинутая работа с конструктором на реальном рынке. 
						| Сообщество в Инфоклубе, плюс серия онлайн-занятий, на которых Вы получите прокачку знаний и станете на голову выше 90% рядовых алготрейдеров. 
					.sArbitr__text.col-xl.col-xxl-7.col-12
						.h6.fw-400 Мы вместе будем создавать торговых роботов для разных рынков и разбирать нюансы практической работы с «Арбитром».
						ol
							li Быстрое создание арбитражных стратегий.
							li Управление арбитражными стратегиями.
							li Хакатон №1: создаем стратегии в прямом эфире.
							li Хакатон №2: создаем стратегии в прямом эфире.
							li Хакатон №3: создаем стратегии в прямом эфире.
							li Создание и управление портфелем стратегий.
							li Бонусное занятие: стратегии парного трейдинга.
			+e.grid.mb-5
				.sArbitr__block
					.h3 Шаблоны стратегий для быстрого старта
					.h6.fw-400 Чтобы Вы не начинали «с чистого листа», Вы получите комплект шаблонов для быстрого создания арбитражных роботов под разные рынки и связки:
					ol
						li для российских фьючерсов;
						li для криптовалют;
						li для индексов;
						li для Форекс;
						li для российских Форекс-брокеров.

					
				.sArbitr__block
					.h3 Скрипт для быстрого поиска пар активов
					.h6.fw-400 Отдельный инструмент для ускорения исследований: помогает находить связки активов, которые подходят для арбитражной логики.
				.sArbitr__block
					.sArbitr__block-inner
						.h3 Личная долгосрочная поддержка от&nbsp;Владимира Чамина.
						.h6.fw-400 Помощь в настройке и ответы на вопросы от автора-разработчика в течение всего срока пользования «Арбитром».

						.h6.fw-400 Когда бы не возник у Вас вопрос из реальной практики, Вы всегда сможете обратиться за советом. 

						.h6.fw-400 Потому что цель не «продать конструктор», а чтобы Вы запустили систему стабильного источника дохода и могли развивать портфель.
						+img("img/author2.png")


			a.btn.btn-primary.w-100(href="#sForm") Получить «Арбитр» и начать обучение прямо сейчас 
	// end sSet