// start .sSet
.section-light {
	background: linear-gradient(180deg, #f8f9ff, #fff 44.71%, #eef1ff);
	border-radius: calc(1vw + 30px);
	box-shadow: 0 4px 163px 0 rgba(53, 74, 157, 0.1);
}
.sSet {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	counter-reset: num;

	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
		.h6 {
			max-width: 850px;
		}
	}
	&__col {
	}
	&__item {
	}

	.sArbitr__item {
		@include media-breakpoint-up(xl) {
			flex-wrap: nowrap;
		}
	}
	.sArbitr__item:first-child {
		border-top: 1px solid var(--gr2);
	}
	.sArbitr__item:before {
		content: "Модуль " counter(num);
		text-transform: uppercase;
	}

	.sArbitr__item--last {
		&::before {
			display: none;
		}
	}

	&__grid {
		display: grid;
		@include media-breakpoint-up(xl) {
			grid-template-columns: 1fr 1fr;
		}
		gap: 40px;
		ol {
			font-size: 20px;
		}
		.sArbitr__block {
			width: 100%;
			margin: 0;
			position: relative;
			background-size: cover;
			&:nth-child(3) {
				@include media-breakpoint-up(xl) {
					grid-column: 2 / 3;
					grid-row: 1 / 3;
				}
				img {
					position: absolute;
					right: 0;
					bottom: 0;
					max-width: 50%;
					max-height: 100%;
				}
			}
		}
	}

	.sArbitr__block-inner {
		max-width: 320px;
	}

	.btn {
		position: relative;
		z-index: 2;
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sSet
