// start .headerBlock
.headerBlock {
	@include media-breakpoint-up(xl) {
		--sPT: #{rem(230)};
		--sPB: #{rem(170)};
	}
	--sPT: #{rem(100)};
	--sPB: #{rem(60)};
	--sTPB: #{rem(60)};
	position: relative;
	background-color: #000;
	background-image: url("../img/header-bg.png");
	@include bgs;
	background-position: top center;
	@include media-breakpoint-down(sm) {
		background-position: 20% 0;
	}
	color: #fff;
	z-index: 2;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 calc(1vw + 30px) calc(1vw + 30px);
	.container {
		position: relative;
	}
	h1 {
		color: #fff;
		text-transform: uppercase;
		line-height: 1;
		font-weight: 800;
		position: relative;
		z-index: 4;
	}

	&__text {
		max-width: 510px;
	}
	.row {
		@include media-breakpoint-up(xl) {
			margin-bottom: rem(80);
		}
	}
	&__text-bg {
		padding: 0.8em;
		background: rgba(28, 64, 208, 0.15);
		backdrop-filter: blur(6.6px);
		border-radius: 0.8em;
		max-width: 246px;
	}
	img {
		max-width: 100%;
		pointer-events: none;
		max-height: 100%;
		position: absolute;
		max-width: 120%;
		bottom: -5%;
		right: -20%;
		@include media-breakpoint-down(sm) {
			right: -40%;
		}
	}
	&__row {
		display: grid;
		@include media-breakpoint-up(sm) {
			gap: 40px;
			margin: 40px 0;
		}
		gap: 20px;
		margin: 20px 0;
		position: relative;
		z-index: 4;
		grid-template-columns: repeat(auto-fit, minmax(342px, 1fr));
		counter-reset: num;
	}
	&__item {
		&::before {
			content: url(../img/chart-i.svg);
			margin-bottom: 18px;
			display: block;
		}
		font-family: Akrobat, sans-serif;
		font-size: 35px;
		text-transform: uppercase;
		line-height: 1;
	}

	.btn {
		position: relative;
		z-index: 2;
	}

	@include media-breakpoint-up(xl) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
}

// end.headerBlock

.headerBlock-item {
	height: 100%;
	padding: rem(24px);
	background: rgba(0, 0, 0, 0.59);
	backdrop-filter: blur(6.6px);
	border-radius: 22px;
	text-align: center;
	font-size: 14px;
	text-wrap: balance;
	font-weight: bold;
	line-height: calc(19.6 / 14);
	img {
		margin-bottom: rem(16);
	}
}
