mixin headerBlock()
	// start headerBlock
	+b.headerBlock#headerBlock&attributes(attributes)
		.container.section
			+b.section-title
				h1 АРБИТР
			.row.gy-4
				.col
					+e.text.h3 Зарабатывайте деньги на&nbsp;рыночных неэффективностях на&nbsp;лету,  на&nbsp;полном автомате
				.col-xxl-3.col--auto
					+e.text-bg.h3 Конструктор арбитражных торговых роботов для Metatrader 5 
			a.btn.btn-primary(href="#sForm") Получить доступ сейчас 
			//- img(src="img/header-img.png", alt="").head-img
			

	// end headerBlock