mixin sQA(data)
	// start sQA
	+b.SECTION.sQA.section#sQA&attributes(attributes)
		.container
			+b.section-title
				.row
					.col
						h2  Часто задаваемые вопросы
					.col-auto
						+e.text-block.h3 Мы&nbsp;собрали самые популярные вопросы и&nbsp;ответы на&nbsp;них от&nbsp;наших пользователей
			+ddGroup

				+ddGroupItem('Мне нужно уметь программировать?')
					p Нет, не нужно. Вы не пишете код, Вы настраиваете роботов в конструкторе в несколько кликов мышки.
					
				+ddGroupItem('Я новичок. Я вообще разберусь?')
					p Да, если у вас есть базовая компьютерная грамотность: умение пользоваться браузером, электронной почтой, просматривать видео, скачивать и устанавливать программы, регистрироваться на сайтах. В комплекте есть пошаговое обучение от установки MT5 до запуска робота в реальную торговлю, а также долгосрочная поддержка на весь период пользования конструктором.
				+ddGroupItem('Это высокочастотный трейдинг? Арбитраж на скоростях? Нужны серверы у биржи и миллионы?')
					p Нет. Это не HFT. 
					p Конструктор позволяет создавать стратегии, основанные на одноногом арбитраже, классическом парном трейдинге, и их комбинации: сделки открываются, как в парном трейдинге, а сопровождается каждая сделка по правилам одноногого арбитража.
					p В таких видах арбитража Вы анализируете индекс, но сделку открываете, как обычный трейдер, в рамках одного брокера/биржи. Скорость не решает, решает логика дисбаланса. 
				+ddGroupItem('А классический парный трейдинг тоже есть?')
					p Да, конструктор позволяет создавать как стратегии, основанные на одноногом арбитраже, так и стратегии, основанные на классическом парном трейдинге. 
					p Есть даже возможность объединять одноногий арбитраж и парный трейдинг в одной торговой стратегии.
					p В мастер-группе есть бонусное занятие по парному трейдингу (классическому арбитражу).
				+ddGroupItem('На каких рынках можно торговать с «Арбитром»?')
					p На любом рынке: фьючерсы Мосбиржи, индексы, криптовалюты, металлы, форекс и др. Фактически, можно исследовать любые инструменты, которые доступны у Вас в MT5. 
				+ddGroupItem('На каких таймфреймах можно работать? ')
					p Можно работать на любых таймфреймах, от М1 до D1.
				+ddGroupItem('У какого брокера открывать счет? ')
					p Вы можете открыть счет у любого брокера, который дает доступ к Metatrader 5. 
					p Для торговли фьючерсами и акциями Московской Биржи подходит российский брокер Финам. 
					p Если Вы новичок и у Вас никогда не было брокерского счета, Финам сможет предоставить Вам Metatrader 5 только через год после открытия счета и совершения ряда сделок. В этом случае Вы можете начать торговлю через российского форекс-брокера Альфа-Форекс. 
					p Для торговли валютами, иностранными индексами, криптовалютами и другими активами через CFD могут подойти брокеры: Amarkets, Alpari, Roboforex, Bybit и др.
				+ddGroupItem('С каким минимальным депозитом можно начинать?')
					p Сумма минимального депозита зависит от Вашего брокера и активов, которыми Вы будете торговать. Минимально возможный старт: от 10 000 ₽. 
				+ddGroupItem('Какая доходность гарантирована?')
					p В трейдинге нет и не может быть гарантий прибыли. Но в «Арбитре» Вы настраиваете доходность под свои цели через параметры стратегии и размер риска. 
					p С помощью профессионального тестирования Вы заранее можете понимать, в какую просадку может уйти торговый робот при реальной торговле, какой максимальный риск от депозита Вы принимаете и на какую примерно доходность можно рассчитывать.
				+ddGroupItem('Какие действия системы при срабатывании защиты депозита? ')
					p Торговля робота полностью останавливается. Вам в Телеграм уходит уведомление с указанием причины остановки торгов. 
					p Вы анализируете отчет и принимаете решение: пересоздать робота с новыми параметрами, отключить робота или перезапустить вручную после корректировки настроек.
				+ddGroupItem('Можно ли тестировать робота на демо-счете? ')
					p Да, функционал «Арбитра» полностью доступен для использования на демо-счетах брокеров в MetaTrader 5. 
					p С российскими фьючерсами, к сожалению, потренироваться на демо не получится. Для тестов можно вести торговлю 1 лотом на небольшом депозите. 
					p Если Вам интересна торговля через форекс-брокеров, у них можно открыть демо-счет, потренироваться, а на реальный счет перейти тогда, когда почувствуете уверенность в результатах.
				+ddGroupItem('Нужен ли виртуальный сервер (VPS)?')
					p Да, виртуальный сервер нужен для бесперебойной автоматической торговли. 
					p Вы можете запустить «Арбитра» на своем домашнем копьютере, но для этого он должен быть постоянно включен и иметь постоянный доступ к сети Интернет. 
				+ddGroupItem('Минимальные технические требования к компьютеру (или серверу) ')
					p Достаточно компьютера (или VPS сервера), не старше 10 лет, с 64-разрядной операционной системой Windows 8/8.1/10/11 или Windows Server 2012 R2. Процессор с 4-мя ядрами и более. Оперативная память от 1 Гб и твердотельный дисковый накопитель SSD любого объема.
				+ddGroupItem('Каковы условия обновления ПО и технической поддержки? ')
					p Вы получаете бесплатные обновления программного комплекса «Арбитр» в течение всего срока действия лицензии. Обновления включают исправления, улучшения и новые функции. 
					p Техническая поддержка по установке и решению базовых вопросов оказывается специалистами Инфоклуба. 
					p Консультации по практическим вопросам трейдинга и настройке «Арбитра» доступны от Владимира Чамина и команды проекта в рамках сообщества пользователей.
			.sArbitr__block
				.h3 Остались вопросы? 

				.h6.fw-400.mb-4 Заполните форму и дождитесь звонка специалиста Инфоклуба, <br> чтобы получить подробную голосовую консультацию. 
				a.btn.btn-white(href="#sForm") Заказать бесплатную консультацию

	// end sQA