mixin sFabric(data)
	// start sFabric
	+b.SECTION.sFabric.section#sFabric&attributes(attributes)
		.container
			+b.section-title
				.row
					.col
						h2 
							span «Арбитр» — это не робот 
							br
							| Это Ваша фабрика автоматического <br> дохода
					.col-auto
						+e.text-block.h3 Главное, что&nbsp;Вы получаете с&nbsp;&laquo;Арбитром&raquo;
			.h6.fw-400.mb-3 Вы можете продолжать делать, как большинство: смотреть новости, угадывать рынок, нервничать, входить «в середине шума»… И каждый раз надеяться, что в этот раз повезет… <br> А можете включить другой режим и доминировать на любом рынке.<br> Режим, где рынок сам показывает Вам деньги через дисбалансы и неэффективности.
			.section
				.h22.mb-5 Что меняется, когда у Вас есть «Арбитр»?
				ul

					li 
						.h5.ttu Вы зарабатываете здесь и сейчас
						| на рыночных неэффективностях вместо попыток предсказать будущее.
					li 
						.h5.ttu Вы видите то, чего не видит большинство трейдеров
						| Арбитражный индекс дает сигналы там, где на обычном графике тишина.
					li 
						.h5.ttu Вы получаете прибыль в любых фазах рынка: 
						| рост, падение, боковик. Пока другие ждут тренд, Вы забираете волатильность.
					li 
						.h5.ttu У Вас появляются свои уникальные роботы,
						| которых больше нет ни у кого. Не «купленный черный ящик», а Ваша настройка под Ваши цели.
					li 
						.h5.ttu Вы получаете полный контроль.
						| Не зависите от чужих настроек: пересобрали, заменили, усилили, собрали портфель.
					li 
						.h5.ttu Скорость меняет правила игры.
						| Конструктор позволяет создавать стратегии и исследовать рынки в пару кликов мышки: гипотезы проверяются быстро, мусор отбрасывается сразу, рабочие связки находятся быстрее.
					li 
						.h5.ttu Портфель вместо ставки «все на одного».
						| Армия роботов на Вашем счете дает стабильность, снижает риски и может кратно увеличивать итоговую доходность.
					li 
						.h5.ttu Входы точнее и легче психологически.
						| Арбитражная логика часто дает сделки на вершинах и донышках. Такие сделки проще держать, проще доверять системе.
					li 
						.h5.ttu  Автодоход без жизни у монитора.
						| Вы живете своей жизнью, а «Арбитр» работает и следит за роботами 24/7, подключая Вас только «по сигналу».
					li 
						.h5.ttu  Масштабируемость:
						| можно начинать с небольшого депозита (от 10 000 ₽) и постепенно расширять портфель до крупных сумм.
			.section.text-center
				.h22.mb-5.ttu И самый важный итог.
				.h6.fw-400.mb-4 «Арбитр» – это надежный источник дохода на полном автомате.
					br
					| Надежный не потому, что всегда угадывает рынок, а потому, что это система:
				+e.line
					+e.label создали
					+e.label--arrow → 
					+e.label протестировали
					+e.label--arrow → 
					+e.label запустили 
					+e.label--arrow → 
					+e.label управляете
					+e.label--arrow → 
					+e.label вовремя заменяете 
					+e.label--arrow → 
					+e.label прибыль продолжается
					+e.label--arrow →
				.h3.mb-4 Готовы включить режим доминирования на финансовых рынках?
				+e.line
					+e.label--arrow →
				+e.line
					+e.label «Арбитр» от Вас на расстоянии одного шага.
				+e.line
					+e.label--arrow →
			.section.pt-0
				.h2.ttu.text-center.mb-5 Заберите «Арбитр»  <br> прямо сейчас
				.h22.ttu запустите свою армию торговых роботов
					.text-primary.text-end и зарабатывайте на рыночных <br> неэффективностях «на лету».
			.h6.fw-400.text-center#sForm Введите Ваши данные в форму, выберите пакет доступа к «Арбитру» и начните создавать <br> свои уникальные арбитражные стратегии уже сегодня.
			.section.pb-0
				+b.form-wrap
				<div id="bf349" class="inbfrm v2">
					<div id="bf349_inner"> 
						<form id="bf349_form" action="//info-dvd.ru/bbm/order/price_table_null_tradingvisionpro/?bform_id=349" method="POST" accept-charset="windows-1251" onsubmit="return bf349.check();" >
							<input type="hidden" name="good_id" value="price_table_null_tradingvisionpro">
							<input type="hidden" name="bform_id" value="349">
							<input type="hidden" name="comment_author" value="">
							<input type="hidden" name="comment_text" value="">
							<input type="hidden" name="promocode" value="">
							<div class="form-grid row gx-3 gy-3">
						
							<div class="col-lg-4"> 
								<div class="input_line form-group "> 
									<label class="input-label">Ваше имя</label>
									<input name="fullname" type="text" class="text form-control" value="" placeholder="Ваше имя" required="required"/>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="input_line form-group ">  
									<label class="input-label">Номер телефона</label>
									<input name="phone" type="text" class="text form-control" value="" placeholder="+7 (____)____-___-___" required="required"/>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="input_line form-group "> 
									<label class="input-label">E-mail</label>
									<input name="email" type="email" class="text form-control" value="" placeholder="E-mail (необязательно)" required="required"/>
								</div>
							</div>
								<div class="submit_line col-12">
									<button type="submit" class="button btn btn-primary w-100" name="submit" > Отправить</button>
								</div>
							</div>

							<div class="privacy_agreement_block">
								<label>
									<input type="checkbox" class="form-check-input" name="oferta_warn" value="1" checked="checked" required="required"> <span class="ibfm_txt">Я согласен с условиями</span> <a href="javascript:void(0)" onclick="return window['bf349'].popup(`https://info-dvd.ru/bbm/../../oferta?popup=1`, `win`, 1050, 450); return false;">публичной оферты</a>
								</label>
							</div>
						</form>
					</div>
				</div>
				script.
					window.setTimeout(function() {
						(function (d, w, src, r, c) {
							var rid = r.toString().substr(2);
							var n = d.getElementsByTagName("script")[0],s = d.createElement("script"),
								f = function () { n.parentNode.insertBefore(s, n); };
							var p=d.location.protocol;
							if (p!='http:' && p!='https:' && src.indexOf('//')==0){src='http:'+src}
							s.type = "text/javascript";
							s.async = true;
							s.src = src+(src.indexOf('?')==-1 ? '?' : '&')+'r='+rid;
							if (w.opera == "[object Opera]") {
								d.addEventListener("DOMContentLoaded", f, false);
							} else {
									f();
								}
							if (c) {
								s.addEventListener('load', function (e) {
									c(null, e);
								}, false);
							}
						})(document, window, "//info-dvd.ru/bbm/js/bbm_form.js", Math.random(), function(){
							window['bf349'] = new BbmFormMng({
								id: 'bf349',
								langs: {
									errors : {
										email_pattern: 'Введите корректный адрес электронной почты.',
										alphanumeric_pattern: 'Может содержать только маленькие английские буквы и цифры',
										phone_pattern: 'Некорректный формат телефона',
										zip_pattern: 'Некорректный формат почтового индекса',
										empty_field: 'Это поле необходимо заполнить.',
										min_limit: 'Укажите значение не меньше ',
										oferta_warn: 'Необходимо согласиться с условиями публичной оферты!'
									},
									processing: 'Обработка...'
								}, rules: {
									kupon:['alphanumeric'],
										phone:['phone', 'required'],
										email:['required', 'email'],
									fullname:['required']
								},
							phone_verification: false});
						});
					}, 0);
	// end sFabric