mixin sArbitr(data)
	// start sArbitr
	+b.SECTION.sArbitr.section#sArbitr&attributes(attributes)
		.container
			+b.section-title Владимир Чамин и Инфоклуб
			+b.section-title
				.row
					.col
						h2 Арбитр
						.h22.ttu  Создавайте в «один клик» торговые стратегии для любых финансовых рынков.
					.col-auto
						+e.text-block.h3 конструктор арбитражных торговых роботов для MetaTrader 5
			mixin item(t,p)
				+e.item
					+e.title.col!= t
					+e.text.col-lg!= p
			div
				+item(`Старт с нуля`, `Вы заранее знаете, в каких акциях сегодня появится волатильность. Без догадок, без «интуиции», без магии.`)
				+item(`Собственные торговые роботы без программирования`, `Арбитражные стратегии в несколько кликов мышки: сгенерировали, запустили в торги, получаете прибыль.`)
				+item(`Автоматическая настройка торговой стратегии`, `Там, где у других уходят месяцы на разработку и тесты.`)
				+item(`отовый принцип поиска рыночных неэффективностей`, `Не надо изобретать грааль. Дисбаланс на рынке = автоматическая прибыль без угадывания будущего.`)
				+item(`Синтетические индексы, которые видят больше`, `Арбитр строит специальный график (арбитражный индекс), он помогает замечать перекосы, которые не видно на графике самого актива.`)
				+item(`Технология уровня хедж-фондов в Вашем терминале`, `Все внутри MetaTrader 5, без внешних сервисов, доступно частному трейдеру.`)
				+item(`Можно работать на любом рынке`, `Фьючерсы Мосбиржи, индексы, криптовалюты, металлы, Форекс, акции и другие инструменты.`)
				+item(`Железная защита от сценария «слил депозит»`, `Многоуровневая защита депозита от слива и глубоких просадок.`)
				+item(`Создание портфеля торговых роботов`, `Позвольте армии роботов зарабатывать для Вас деньги, а «Арбитр» будет автоматически ими управлять.`)
				+item(`Уведомления в Telegram`, `Не нужно караулить у графиков, «Арбитр» сам сообщит, когда важно обратить внимание.`)
			+e.block
				.row.gy-3
					.col
						.h3.mb-0 Гибкий и мощный источник автоматического дохода, который Вы можете запустить прямо сегодня
					.col-sm-auto
						a.btn.btn-white(href="#sForm") Хочу «Арбитр»!
	// end sArbitr