// start .sAuthor
.sAuthor {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	.def-slider__img-wrap {
		display: inline-block;
		padding: 16px;
		border: 1px solid $primary;
		border-radius: 8px;
	}
	.swiper-slide {
		width: auto;
		max-width: 90%;
		img {
			border-radius: 8px;
		}
	}

	ul {
		margin-left: 20px;
	}
	li {
		margin-bottom: 20px;
		font-size: 20px;
	}
	.center-img {
		position: relative;
		@include media-breakpoint-up(xxl) {
			margin-top: -200px;
		}
		img {
			@include media-breakpoint-up(xxl) {
				margin-left: -20%;
				max-width: 135%;
			}
			max-width: 100%;
		}
	}

	&__block {
		background: rgba(66, 66, 66, 0.46);
		backdrop-filter: blur(50px);
		border-radius: 20px;
		padding: 19px 23px;
		text-align: center;
		font-family: "PT Serif";
		font-style: italic;
		color: #fff;
		display: inline-block;
		max-width: 355px;
		margin-top: -250px;
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAuthor
