mixin sAuthor(data)
	// start sAuthor
	+b.SECTION.sAuthor.section#sAuthor&attributes(attributes)
		.container
			.section-title
				.row
					.col
						h2 Владимир  <br> Чамин
					.col-auto.text-primary.h3 Автор конструктора «Арбитр»
			.row.mb-5
				.col-xl
					.h4.fw-400.mb-4 Я алготрейдер и управляющий, в трейдинге с 2003 года. 

					.h4.fw-400.mb-4 И у меня есть принцип: я ненавижу сложность. 

					.h4.fw-400.mb-4 Я убежден: доход в трейдинге должен приходить комфортно, без паники, без бессмысленных часов у монитора и без постоянного ощущения, что рынок вот-вот накажет.

					.h4.fw-400.mb-4 Я много лет вижу одну и ту же боль новичков: «хочу автоматический доход, а вместо спокойствия получаю стресс». Поэтому в моих продуктах всегда на первом месте три вещи: простота, автоматизация, надежность. 

					.h4.fw-400.mb-4 «Арбитр» – это не попытка угадать рынок. Это моя возможность дать Вам понятную систему: собрал → проверил → запустил → контролируешь → получаешь доход и спишь спокойно.

					.h5.ttu.fw-700.mt-5 Ключевое в моих разработках – убрать «черный ящик» и дать Вам контроль: простые правила, создание роботов «в один клик», гибкость, тестирование и управление портфелем.
				.col-xl.order-xxl-last
					.h3 Коротко обо мне (по делу):
					ul
						li Разработчик технологий для упрощения автоматического трейдинга: Арбитр, Титан, Нейробот, Автотренд, TradingVision.PRO, Cyclon. 
						li Согласно опросу, 80% учеников заявили, что бросили бы трейдинг, если бы не получили доступ к одной из этих технологий.
						li В кризисном 2014 году установил личный рекорд доходности в автоматическом трейдинге: +253% прибыли к депозиту.
						li Мои ученики профессионально управляют капиталом инвесторов.
						li 11 лет руководил офисом Альпари в Екатеринбурге, знаю индустрию трейдинга изнутри.
						li Учился у лучших мировых алгоритмических трейдеров: Томас Неснедал (Чехия), Кевин Дейви (США), Эрнест Чан (США), Андреас Е. Кленоу (Швейцария), Том Бассо (США).

				.col-xxl-5.text-center
					.center-img
						+img(`img/author.png`)
					+e.block «Доход в трейдинге должен приходить комфортно. Без нервов. Без рутины. Без риска потерять все. Ваша задача – жить. Задача торгового робота – зарабатывать.»
			.h3.text-center.mb-5 Вот что говорят ученики, которые пользуются моими разработками:

		+defSlider()
			- for (var x = 1; x < 32; x++)
				.swiper-slide(data-fancybox="modal-slider-rev" data-src=`img/slider-1/img-2026-rew${x}.png`)
					+e.img-wrap
						+img(src=`img/slider-1/img-2026-rew${x}.png`, alt="")
	// end sAuthorgit branch -M main