mixin sHowMuch(data)
	// start sHowMuch
	+b.SECTION.sHowMuch.section#sHowMuch&attributes(attributes)
		.container
			+b.section-title Владимир Чамин и Инфоклуб
			+b.section-title
				.row
					.col
						h2 Сколько можно зарабатывать? 
					.col-auto
						+e.text-block.h3 Столько, сколько&nbsp;Вы настроите. И&nbsp;ровно с&nbsp;тем риском, который готовы принять.
			+e.max
				.h6.fw-400.mb-4 С готовыми роботами все всегда одинаково: берите как есть и надейтесь… «Арбитр» – это конструктор торговых роботов. Поэтому вопрос «какая у него доходность» не стоит.  Вопрос другой: «какую доходность хотите Вы, и к каким рискам Вы готовы?»

				.h5.ttu.mb-5 Вы самостоятельно настраиваете риск торгового робота и с помощью тестов сразу понимаете, на какую доходность можете рассчитывать.
			+e.row.row
				.col-xl-6.h3 
					span.text-primary В большинстве случаев робота в «Арбитре» можно настроить на 30%–80% годовых,
					br
					| в зависимости от уровня риска и параметров стратегии.
				.col-xl-6.h3 
					span.text-primary  Хотите агрессивнее? 
					| Можно. Главное, что Вы делаете это осознанно: видите параметры, понимаете риск, заранее знаете уровень возможной просадки.
			+e.block.mt-5
				.text-center
					.h22.ttu.mb-3 Нужна еще больше доходность? 
						span.text-primary Реально!
					.h6.fw-400.mb-4 Создавайте портфель из нескольких торговых роботов: на разных связках, рынках, параметрах, режимах. <br> Если роботы в Вашем портфеле не дублируют друг друга (слабо коррелируют), суммарный результат растет кратно.
				.row
					mixin item(i,t,p)
						.col-xl-4
							+e.item
								+img(`img/sHowMuch-${i}.svg`)
								+e.title.h5.text-primary.ttu.fw-700= t
								.h6.fw-400!= p
								block
					+item(1,`1 робот `, `доходность одиночной стратегии`)
					+item(2,`2 робота `, `система, которая удваивает доходность`)
					+item(3,`3–5-10 роботов `, `армия, которая постоянно ищет и отрабатывает дисбалансы на Вашем счете.`)
						p Идеально для занятых людей: меньше рутины, больше контроля, больше автоматизации.
			.section
				.section-title
					h2 
						span.text-primary «Арбитр» — 
						br
						| Ваш источник  дополнительного дохода на автопилоте
				
				+b.graf
					.row
						.col-xl-4.gy-3
							.h3 Вы не сидите<br>у графика.

						.col-xl-4
							.h3 Вы не ловите  <br> настроение рынка.

						.col-xl-4
							.h3 Вы запускаете систему, которая работает вместо Вас и приносит результат, как дополнительный (а при желании и основной) источник дохода.
				.text-center
					.h3 Смотрите наглядно, как &laquo;Арбитр&raquo; зарабатывает <br> в&nbsp;реальных рыночных условиях:
					.video-block.mb-5
							iframe(width="560" height="315" src="https://kinescope.io/w7QzfoPcRcNPfzj3c3do5w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)
					a.btn.btn-primary(href="#sForm") Хочу зарабатывать в любых состояниях рынка 
				
	// end sHowMuch