// start .sHowMuch
.sHowMuch {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	box-shadow: 0 4px 163px 0 rgba(53, 74, 157, 0.1);
	background: linear-gradient(180deg, #f8f9ff 0%, #fff 44.71%, #eef1ff 100%);

	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	h2 {
		max-width: 900px;
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}

	&__max {
		max-width: 1070px;
	}

	&__block {
		box-shadow: 0 60px 113px 0 rgba(240, 243, 255, 0.89);
		background: linear-gradient(134deg, #fff 0%, #f6f8ff 100%);
		border-radius: 16px;
		padding: 40px;
		@include media-breakpoint-down(sm) {
			margin-left: -15px;
			margin-right: -15px;
			padding-inline: 15px;
		}
	}
	&__item {
		border-top: 1px solid $primary;
		border-radius: 12px;
		padding: 40px;
		height: 100%;
		box-shadow: 0 60px 113px 0 rgba(240, 243, 255, 0.89);
		background: #fff;
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sHowMuch

.graf {
	position: relative;
	margin-bottom: var(--sPB);
	@include media-breakpoint-up(xxl) {
		&::before {
			content: url(../img/graf2.svg);
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
}
