mixin sHowWork(data)
	// start sHowWork
	+b.SECTION.sHowWork.section#sHowWork&attributes(attributes)
		.container
			+b.section-title
				.row
					.col
						h2 Как это  <br> работает?
					.col-auto
						+e.text-block.h3 Готовые роботы&nbsp;&mdash; это &laquo;я&nbsp;верю на&nbsp;слово&raquo;. Конструктор&nbsp;&mdash; это &laquo;я&nbsp;управляю&raquo;.
			.section.pt-0
				.h4.fw-400.mb-3 Покупая готового робота, Вы получаете черный ящик: он «как-то» торгует… пока рынок не поменяется. А когда поменяется, Вы ничего не можете сделать. Только искать новую «кнопку бабло».

				.h4.fw-400.mb-3 «Арбитр» устроен иначе. Это конструктор, в котором Вы меняете параметры, настраиваете логику под любой рынок, создаете собственных торговых роботов. Без программирования, в пару кликов мышки.

				.h5.fw-700.ttu И главное: Вы автор стратегии. Вы понимаете логику. Вы управляете и готовы к любой рыночной ситуации.  
			+e.block
				.h22.ttu.mb-3 Ваш уникальный торговый робот 
					span.text-primary за 2 минуты
				+e.texts
					.h4.fw-400 «Арбитр» сделан так, чтобы любой новичок мог с легкостью создавать арбитражных торговых роботов.
					.h4.fw-400 Простой сценарий вместо сложной разработки:
					ol
						li
							.h5.ttu Специальный скрипт автоматически находит пары инструментов,
							| подходящие под арбитраж.
						li
							.h5.ttu Конструктор автоматически строит арбитражный индекс 
							| тот самый «график разницы», где видны перекосы
						li 
							.h5.ttu Настраиваете параметры торговой стратегии 
							| или позволяете конструктору автоматически подобрать лучшие варианты.
						li 
							.h5.ttu Настраиваете риск и сопровождение 
							| (как робот входит, где защищается, где фиксирует) или позволяете конструктору автоматически подобрать оптимальные параметры.
						li 
							.h5.ttu Тестируете стратегию на истории,
							| чтобы проверить ее работоспособность.
						li 
							.h5.ttu Запускаете в торги и получаете прибыль
							| «Арбитр» будет автоматически управлять роботом и следить, чтобы он оставался прибыльным.
					.h4.fw-400.mb-4 Гибкость и&nbsp;автоматизация. Каждый шаг настраивается автоматически и&nbsp;легко корректируется вручную
					a.btn.btn-primary(href="#sForm") Собрать своего робота в «Арбитре» 
	
	// end sHowWork