// start .sHowWork
.sHowWork {
	border-radius: calc(1vw + 30px);
	box-shadow: 0 4px 163px 0 rgba(53, 74, 157, 0.1);
	background: linear-gradient(180deg, #f8f9ff 0%, #fff 44.71%, #eef1ff 100%);
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}

	&__block {
		box-shadow: 0 60px 113px 0 rgba(240, 243, 255, 0.89);
		background-image:
			url(../img/sHowWork-bg.jpg),
			linear-gradient(134deg, #fff 0%, #f6f8ff 100%);
		@include bgs;
		border-radius: 16px;
		color: #fff;
		padding: 40px;
		background-color: #000;
	}
	&__texts {
		max-width: 690px;
		.h4 {
			margin-bottom: 15px;
		}
	}
	counter-reset: num;
	ol {
		margin-left: 0;
		margin-top: 20px;
		padding-left: 0;
	}
	li {
		list-style: none;
		margin-bottom: 15px;
		padding-left: 50px;
		position: relative;
		.h5 {
			font-weight: bold;
		}
		&::before {
			content: "0" counter(num);
			counter-increment: num;
			position: absolute;
			left: 0;
			// top: 0;
			margin-top: -3px;
			font-weight: bold;
			font-family: "Akrobat", sans-serif;
			font-size: 25px;
			color: $primary;
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sHowWork
