mixin sTest(data)
	// start sTest
	+b.SECTION.sTest.section#sTest&attributes(attributes)
		.container
			+b.section-title
				.row
					.col
						h2  Тестирование по-взрослому: защита от самообмана
					.col-auto
						+e.text-block.h3 Красивый бэктест умеют рисовать все. Зарабатывают&nbsp;те, кто умеет проверять
			+e.max.mb-5
				.h6.fw-400.mb-3 В трейдинге есть опасная ловушка: влюбиться в красивую кривую доходности. На истории можно нарисовать результат на чем угодно, особенно если подгонять параметры.
					br
					| Поэтому в нормальном алготрейдинге важна не «красота графика», а отбор по-настоящему устойчивых стратегий, которые смогут зарабатывать на будущем реальном рынке.

				.h5.ttu.mb-5 Именно для этого в «Арбитре» заложена профессиональная логика проверки стратегии.

			.h3.text-primary Три ступени проверки стратегии в «Арбитре»:
			.row.gy-3
				mixin item(t,p)
					.col-lg-4
						.sProtect__item
							.sProtect__title.h5.ttu.fw-400!= t
							.h6.fw-400!= p
							block
				+item(`Бэктест – <br> первичный фильтр`,`Быстро отсеиваем то, что не работает даже на истории: слабая логика, плохая статистика, случайные входы.`)
				+item(`Форвард-тест –  <br> фильтр от иллюзий`,`Проверяем стратегию на данных, которые она не видела, и узнаем, может ли она зарабатывать в будущем. Если стратегия работоспособная, она продолжает зарабатывать. Если это подгонка, она сливает деньги.`)
				+item(`Симуляция реальности –  <br> чтобы не было сюрпризов`,`Сразу учитываем то, что в реальной торговле съедает прибыль и ломает ожидания:`)
					ul
						li комиссии,
						li проскальзывания,
						li задержки исполнения и прочие рыночные нюансы.
			.sArbitr__block
				.h3 Главная цель трехступенчатого тестирования – сильно снизить риск подгонки под историю и оставить в работе только <br>  реально устойчивые стратегии.

				.h6.fw-400.mb-4 Потому что Вам нужен не «график мечты». Вам нужна система, которая будет приносить  <br> деньги на реальном рынке, а не только в тестере
				a.btn.btn-white(href="#sForm") Хочу тестировать роботов по-взрослому 
	// end sTest