mixin sTry(data)
	// start sTry
	+b.SECTION.sTry.section#sTry&attributes(attributes)
		.container
			+b.section-title
				.row
					.col
						h2 Хватит пытаться прогнозировать будущее! 
					.col-md-auto
						+e.text-block.h3 Позвольте рынку самому подсказать,  где взять деньги
			.h3.mb-3  Находите рыночные неэффективности и забирайте прибыль здесь и сейчас.
			.h6.fw-400.mb-5 Главная проблема 99% торговых стратегий в том, что они пытаются предсказать будущее. Надо ли говорить о том, что попытки угадать будущее заранее обречены на провал?
				br
				strong В арбитражной логике другой подход: 
				| используем подсказки рынка и получаем прибыль в моменте, на текущем дисбалансе, без прогнозов и гаданий.

			+e.bg-block
				.h3 Что такое рыночная неэффективность?
				.h6.fw-400 Это момент, когда два связанных инструмента, которые обычно двигаются синхронно, временно «расходятся». Один уже пошел, второй «задумался». Возникает перекос, он дает понятную точку входа в сделку. Вы не гадаете, а реагируете на то, что рынок уже показал.
			.section
				.h3.mb-3 Как это выглядит на реальном рынке?
				
				.h6.fw-400.mb-4 Золото и серебро – два инструмента, которые часто ходят вместе.
				.row.gy-2.mb-4
					.col-xl-6
						p График золота
						+img("img/graf-1.png")
					.col-xl-6
						p График серебра
						+img("img/graf-2.png")
				.h6.fw-400.mb-4 Но вот на рынке появилась неэффективность. 
				.row.gy-2.mb-4
					.col-xl-6
						p.text-success Цена на серебро пошла вверх ↑ 
						+img("img/graf-3.png")
					.col-xl-6
						p А цена золота осталась на месте —
						+img("img/graf-4.png")
				.h6.fw-400.mb-4 Появилась высокая вероятность, что золото начнет догонять серебро. И это уже не прогноз из головы, а реакция на перекос, который показал рынок. Отличная возможность для открытия лонг-сделки по золоту.
				+e.block
					.row.gy-3
						.col
							+img("img/graf.png").res-i
						.col-xl-auto 
							+e.text.h3 
								span.text-primary И&nbsp;главное: 
								| мы&nbsp;не&nbsp;пытались предсказывать будущее. Рынок сам подсветил неэффективность. Оставалось просто забрать деньги.

				.h3 Это можно делать системно!
				.h6.fw-400.mb-4 Такие неэффективности появляются постоянно на всех рынках. Деньги двигаются не равномерно: где-то «перелили», где-то «не долили». <br> Главная фишка в том, что рыночные неэффективности можно искать на полном автомате.


	// end sTry