// start .sManagment
.sManagment {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	box-shadow: 0 4px 163px 0 rgba(53, 74, 157, 0.1);
	background: linear-gradient(180deg, #f8f9ff 0%, #fff 44.71%, #eef1ff 100%);
	border-radius: 48px;
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}
	.sProtect__item {
		position: relative;
		margin-bottom: 40px;
		z-index: 2;
		img {
			@include media-breakpoint-up(lg) {
				z-index: -1;
				@include a-cent(y);
				right: 0;
				max-width: 50%;
				max-height: 100%;
			}
			max-width: 100%;
			height: auto;
		}

		ul {
			font-size: 20px;
			margin-left: 20px;
		}
	}
	.btn {
		position: relative;
		z-index: 2;
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sManagment
