mixin sManagment(data)
	// start sManagment
	+b.SECTION.sManagment.section#sManagment&attributes(attributes)
		.container
			+b.section-title
				.row
					.col
						h2  Управление роботами: главный секрет надежного автозаработка
					.col-auto
						+e.text-block.h3 Роботы сливают не&nbsp;потому, что плохие. А&nbsp;потому что ими никто не&nbsp;управляет
			.h6.fw-400.mb-3 Самая частая проблема в алготрейдинге не в том, что стратегия сломалась и перестала приносить деньги. Проблема в другом: Вы понимаете это слишком поздно.

			.h6.fw-400.mb-3 При адекватном риске сливы никогда не происходят за один день. Стратегия всегда деградирует постепенно. И если это вовремя не заметить, она сольет не только заработанную прибыль, но и первоначальный депозит.

			.h6.fw-400.mb-3 Именно поэтому надежность автоматического заработка лежит в управлении торговым роботом.
			mixin item(i,t)
				.sProtect__item
					.h3.mb-4!= t
					.col-xl-6
						block
					.col-xl-6
						+img(`img/sManagment-${i}.png`)
			+item(1, `«Арбитр» следит за каждым роботом 24/7 вместо Вас`)
				.h6.fw-400.mb-3 В «Арбитре» реализован блок автоматического управления каждым роботом в портфеле.
					br
					| Пока Вы занимаетесь своими делами, «Арбитр» днем и ночью пристально следит за эффективностью каждого робота и помогает вовремя поймать момент, когда стратегия начала ухудшаться и пора действовать.
				.h6.fw-400.mb-3 Что контролируется:
				ul
					li просадка (чтобы не допустить глубокого минуса),
					li profit factor, как главный показатель эффективности, который сигнализирует, что стратегия начала ломаться.


			+item(2,`Система, которая не даст заработку остановиться`)
				.h6.fw-400.mb-3 Ключевое отличие «Арбитра» от готовых роботов и хаотичного автотрейдинга – у Вас появляется понятный управленческий цикл:
				.h6.fw-400.mb-3 Обнаружил → отключил → заменил → продолжаешь получать прибыль.
				ul
					li Стратегия ломается? Вы узнаете ДО того, как станет больно.
					li Сняли стратегию вовремя, до того, как она сольет заработанную прибыль.
					li Создали новую на замену, быстро, в конструкторе.
					li Портфель снова работает.
				.h6.fw-400.mb-3 Так автоматический трейдинг превращается в систему, где прибыль не сломается при любых сценариях будущего рынка

			+item(3,`Анти-«черный ящик»: Вы понимаете, <br> чем управляете`)
				.h6.fw-400.mb-3 Вы не покупаете «магическую коробку». Вы создаете собственных роботов под нужные рынки и инструменты, с тонкой настройкой параметров под Ваши цели.

				.h6.fw-400.mb-3 Робот не является черным ящиком для Вас. Вы знаете логику, правила и ограничения. И поэтому можете управлять осознанно.

			+item(4,`Telegram-уведомления: контроль  <br> без «жизни у монитора»`)
				.h6.fw-400.mb-3 Это как охрана в магазине: Вам не нужно стоять у камер 24/7. Система зовет Вас, когда что-то пошло не так.
				.h6.fw-400.mb-3 С «Арбитром» тот же принцип:
				ul
					li рутина анализа, входа и сопровождения полностью на роботах;
					li Вы подключаетесь только по сигналу: пришло уведомление → посмотрели → приняли решение.

			a.btn.btn-primary.w-100(href="#") Хочу надежный автодоход. Получить «Арбитр» 
	// end sManagment