mixin sDeals(data)
	// start sDeals
	+b.SECTION.sDeals.section#sDeals&attributes(attributes)
		mixin item(i,t,p)
			.col-lg-6
				.sView__item
					.row
						.col
							.sView__title.h3= t
						.col-auto
							+img(`img/sDeals-${i}.svg`)
					.h6.fw-400!= p
		.container
			+b.section-title
				.row
					.col
						h2 Сделки на&nbsp;донышках и&nbsp;вершинах
					.col-auto
						+e.text-block.h3 То, что недоступно  99% роботов
				
			+e.row.row
				+item("1", `Заработок даже  <br> в боковике`,`Когда рынок засыпает, большинство стратегий реально перестают работать. Нет тренда, нет движения, нет прибыли. <br><br>Арбитражная логика живёт по другим законам. Вы смотрите не на сам актив, а на арбитражный индекс – как один актив ведет себя относительно другого. <br> <br>Рынок стоит на месте, а арбитражный индекс двигается. Активы разъезжаются и сходятся обратно, дисбаланс дает прибыл`)
				+item("2", `Ловля донышек и вершин – побочный эффект арбитражной логики`,`Самый вкусный эффект арбитражных роботов, созданных в «Арбитре» – входы в сделку часто формируются на самом пике или на самом дне графика, в местах разворота цены. <br> <br>Уникальное свойство арбитражного индекса – показывать крайние состояния дисбаланса. Именно в эти моменты чаще всего и происходит разворот цены. Робот, торгующий на арбитражном индексе, реально ловит донышки и вершины. <br> <br>И да, для 99% торговых роботов это недоступно, потому что они видят только цену, а не перекос между активами.`)
			.section
				.text-center
					.h3 Смотрите видео,  <br> как «Арбитр» делает сделки на пиках цены в связке золото/серебро.
					.video-block.mb-5
							iframe(width="560" height="315" src="https://kinescope.io/w7QzfoPcRcNPfzj3c3do5w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)
					a.btn.btn-primary(href="#sForm") Хочу зарабатывать в любых состояниях рынка 
	// end sDeals